Package: pyznap
Version: 1.1.2-1
Architecture: amd64
Maintainer: Andre Ruiz <andre.ruiz@canonical.com>
Installed-Size: 144
Depends: python, python-configparser, python3-paramiko
Section: unknown
Priority: optional
Homepage: https://github.com/yboetz/pyznap
Description: pyznap is a ZFS snapshot management tool. It automatically takes and deletes
 snapshots and can send them to different backup locations. You can specify a policy for
 a given filesystem in the pyznap.conf file and then use cron to let it run regularly.
 pyznap includes zfs bindings for python, forked and modified from
 https://bitbucket.org/stevedrake/weir/.
