Source: pyznap
Section: utils
Priority: optional
Maintainer: Andre Ruiz <andre.ruiz@canonical.com>
Build-Depends: debhelper (>= 10), python3, dh-python, python3-setuptools, python3-pip
Standards-Version: 4.1.2
Homepage: https://github.com/yboetz/pyznap
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/pyznap.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pyznap.git

Package: pyznap
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, 
	python, python-configparser, python3-paramiko
Description: pyznap is a ZFS snapshot management tool. It automatically takes and deletes
 snapshots and can send them to different backup locations. You can specify a policy for
 a given filesystem in the pyznap.conf file and then use cron to let it run regularly.
 pyznap includes zfs bindings for python, forked and modified from
 https://bitbucket.org/stevedrake/weir/.
 .
 ATTENTION: this package is alpha quality and is not to be trusted yet, please test
            it in a sandbox, please.

